<% provide(:title, 'Profile')  %>

<%= render 'layouts/header' %>

<main>
  <div class="main-inner">
    <form class="profile-form">
      <header class="profile-form-title">Profile</header>
      <label class="profile-label" for="user-name">User Name</label>
      <input class="profile-input-box" type="text" name="user-name" value="Example User" autocomplete="off">
      <label class="profile-label" for="email">Email</label>
      <input class="profile-input-box" type="email" name="email" value="user@example.com" autocomplete="off">
    </form>
  </div>
</main>