<% provide(:title, 'Books List') %>

<%= render 'layouts/header' %>

<main>
  <div class="main-inner">
    <label class="menu-label">Books List</label>
    
    <ul class="book-list-frame">
      <% @books.each do |book| %>
        <li class="book-list">
          <%= link_to book.title, book_path(book), class: 'book' %>
        </li>    
      <% end %>
    </ul>
    
    <%= will_paginate @books %>
      
    <p class="collection-of-books">Current Collection of Books：<%= @books_count %> books</p>
  </div>
</main>