/* variable */

$font-color: white;
$from-background-color: rgb(100, 100, 200);



/* mixin */

@mixin inner-size {
  max-width: 1170px;
  width: 50%;  
}



/* body */

.body {
  background-color: rgb(74, 59, 172);
  margin: 0;  
}



/* header */

.header {
  width: 100%;
  height: 4em;  
  background-color: rgb(51, 37, 143);
}

.header-inner {
  @include inner-size;
  margin: 0 auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo-title {
  text-decoration: none;
  font-size: 1.5em;
  color: $font-color;
  margin-left: 0.5em;
}

.nav-group {
  display: flex;
  align-items: center;
}

.nav-item {
  color: $font-color;
  font-size: 1.1em;
  margin: 0 0 0 1.3em;
  text-decoration: none;
}



/* inner */

.main-inner {
  @include inner-size;
  margin: 30px auto 0 auto;
}



/* menu-label */

.menu-label {
  font-size: 1.5em;
  padding-top: 10px;
  margin: 0 0 10px 0;
  color: $font-color;
}



/* home */

.menu-container {
  width: 460px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
}

.button {
  width: 130px;
  height: 85px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  background-color: rgb(100, 100, 200);
  margin-bottom: 50px;
  &:hover {
    background-color: rgb(124, 111, 206);  
  }
}

.icon {
  width: 32px;
  height: auto;
  margin: 0 auto;
}

.label {
  width: fit-content;
  margin: 0 auto;
}

.link {
  color: $font-color;
  font-size: 0.9em;
  text-decoration: none;
}

.history-label {
  font-size: 1.5em;
  margin: 0;
  padding: 10px 0 0 0;
  color: $font-color;
  border-top: 1.5px solid white;
}

.history-list {
  margin-top: 10px;
  margin-bottom: 50px;
  padding: 0;
  color: $font-color;
  list-style-type: none;
}

.collection-of-books {
  color: $font-color;
  text-align: right;
}





/* books/index */

.book-list-frame {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  margin-top: 0.5em;
  padding-bottom: 1em;
  padding-left: 0;
}

.book-list {
  list-style-type: none;
  margin-top: 1em;
}

.book {
  color: $font-color;
  text-decoration: none;
}

.pagination a {
  color: $font-color;
  text-decoration: none;
  border: solid 1px white;
  padding: 0.4em;
  &:hover {
    background-color: rgb(160, 153, 216);
  }
}

.previous_page {
  color: $font-color;
  border: solid 1px white;
  padding: 0.4em;
  margin-right: 0.3em;
  &:hover {
    background-color: rgb(160, 153, 216);
  }
}

.current {
  color: $font-color;
  border: solid 1px white;
  padding: 0.4em;
  margin-right: 0.3em;
  &:hover {
    background-color: rgb(160, 153, 216);
  }
}

.next_page {
  color: $font-color;
  border: solid 1px white;
  padding: 0.4em;
  margin: 0.3em;
  &:hover {
    background-color: rgb(160, 153, 216);
  }
}





/* profile */

.profile-form {
  display: flex;
  flex-direction: column;
  width: 25em;
  margin: 3em auto 0 auto;
  background-color: rgb(100, 100, 200);
}

.profile-form-title {   /* 重複あり .form-label */
  font-size: 1.5em;
  text-align: center; 
  color: $font-color; 
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}

.edit_user {
  display: flex;
  flex-direction: column;
}

.profile-label {
  margin-left: 1.5em;
  color: $font-color;
}

.profile-input-box {
  margin-left: 1.5em;
  margin-bottom: 1.5em;
  margin: 0 1.5em 1.5em 1.5em;
  height: 1.8em;
  background-color: rgb(243, 241, 241);
  border: none;
  color: rgb(74, 59, 172);
  &:focus {
    color: rgb(74, 59, 172);
  }
}





/* books/new */

.book-add-form {
  display: flex;
  flex-direction: column;
  background-color: $from-background-color;
  width: 25em;
  margin: 0 auto;
}

.book-add-form-title {
  font-size: 2.5em;
  text-align: center; 
  color: $font-color; 
  padding-top: 0.7em;
}

.new_book {
  display: flex;
  flex-direction: column;
}

.book-add-form-label {
  margin-left: 1.5em;
  color: $font-color;
}

.book-add-form-input-box {
  margin: 0 1.5em 1.5em 1.5em;
  width: 26.5em;
  height: 1.9em;
  background-color: rgb(243, 241, 241);
  border: none;
  color: rgb(74, 59, 172);
}

#book_genre {
  margin: 0 1.5em 1.5em 1.5em;
  width: 26.9em;
  height: 2.3em;
}

.file-select {
  margin-left: 1.5em;
  color: $font-color;
}

.book-add-form-button {
  margin: 1.5em 1.3em 3.2em 1.3em;
  height: 2em;
  font-size: 1em;
  background-color: rgb(124, 111, 206);
  border: none;
  color: $font-color;
  &:hover {
    background-color: rgb(160, 153, 216);
  }
  &:focus {
    background-color: white;
    color: rgb(74, 59, 172);
  }
}





/* book/edit */

.book-edit-form {
  display: flex;
  flex-direction: column;
  background-color: $from-background-color;
  width: 26em;
  margin: 0 auto;
}

.book-edit-form-title {
  font-size: 2.5em;
  text-align: center; 
  color: $font-color; 
  padding-top: 0.7em;
}

.book-edit-form-label {
  margin-left: 1.5em;
  color: $font-color;
}

.book-edit-form-input-box {
  margin: 0 1.5em 1.5em 1.5em;
  width: 26.5em;
  height: 1.9em;
  background-color: rgb(243, 241, 241);
  border: none;
  color: rgb(74, 59, 172);
}

#book_genre {
  margin: 0 1.5em 1.5em 1.5em;
  width: 26.9em;
  height: 2.3em;
}

.book-edit-form-button {
  margin: 3em 1.3em 2em 1.3em;
  height: 2em;
  font-size: 1em;
  background-color: rgb(124, 111, 206);
  border: none;
  color: $font-color;
  &:hover {
    background-color: rgb(160, 153, 216);
  }
  &:focus {
    background-color: white;
    color: rgb(74, 59, 172);
  }
}





/* books/show */

.edit_book {
  display: flex;
  flex-direction: column;
  background-color: $from-background-color;
  width: 25.5em;
  // height: 42em;
  margin: 0 auto;
}

.book-show-form-title {
  font-size: 2.5em;
  text-align: center; 
  color: $font-color; 
  margin-top: 0.7em;  
}

.book-show-form-label {
  margin-left: 1.5em;
  color: $font-color;
}

.book-show-form-input-box {
  margin: 0 1.5em 1.5em 1.5em;
  width: 26.9em;
  height: 2.3em;
  background-color: rgb(243, 241, 241);
  border: none;
  color: rgb(74, 59, 172);
  &:focus {
    color: rgb(74, 59, 172);
  }
}

.img {
  width: 13em;
  height: 16em;
  margin-top: 0.5em;
  margin-left: 1.5em;
  border: solid 3px white;
}

.book-show-button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 2em;
  margin-bottom: 1em;
}

.edit-button {
  background-color: rgb(124, 111, 206);
  color: $font-color;
  width: 5em;
  text-align: center;
  margin-right: 1em;
  text-decoration: none;
  &:hover {
    background-color: rgb(160, 153, 216);
  }
}

.destroy-button {
  background-color: rgb(124, 111, 206);
  width: 5em;
  color: $font-color;
  text-align: center;
  margin-right: 1em;
  text-decoration: none;
  &:hover {
    background-color: rgb(160, 153, 216);
  }
}





/* static_pages/search */

.search-form {
  display: flex;
  flex-direction: column;
  width: 25em;
  margin: 3em auto 0 auto;
  background-color: $from-background-color;
  padding-bottom: 2em;
}

.book-search-form-title {
  font-size: 2.5em;
  text-align: center; 
  color: $font-color; 
  margin-top: 0.7em;
}

.search-form-label {
  margin-top: 1em;
  margin-left: 1.5em;
  color: $font-color;  
}

.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-form-input-box {
  margin: 0 0 0 1.5em;
  width: 20em;
  height: 1.9em;
  background-color: rgb(243, 241, 241);
  border: none;
  color: rgb(74, 59, 172);
}

.search-form-bottun {
  margin: 0 1em 0 0;
  font-size: 1em;
  background-color: rgb(124, 111, 206);
  border: none;
  color: $font-color;
  padding: 0.2em 0.7em;
  &:hover {
    background-color: rgb(160, 153, 216);
  }
  &:focus {
    background-color: white;
    color: rgb(74, 59, 172);
  }  
}

.search-result-label {
  color: $font-color;
  font-size: 1.5em;
  border-bottom: 2px solid white;
  margin: 2em auto 0 auto;
  padding-bottom: 0.2em;
  width: 22em;
}

.search-result-area {
  margin-left: 13.5em;
  padding: 0;
  width: 30em;
}

.search-result-books-list {
  list-style-type: none;
}

.search-result-books {
  color: $font-color;  
}





/* signup */

.signup-inner {
  max-width: 1170px;
  margin: 0 auto;
}

.signup-logo {
  display: block;
  margin: 1.5em auto 0 auto;
}

.signup-first-message {
  font-size: 1.5em;
  color: $font-color;
  text-align: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
  width: 25em;
  background-color: $from-background-color;
  margin: 0 auto;
}

.signup-form-title {
  font-size: 2.5em;
  text-align: center; 
  color: $font-color; 
  margin-top: 0.7em;
}

.new_user {
  display: flex;
  flex-direction: column;
}

.error-message {
  color: $font-color;
  margin-top: 2em;
  margin-left: 1.5em;
}

.signup-form-label {
  margin-left: 1.5em;
  color: $font-color;
}

.signup-form-input-box {
  margin-left: 1.5em;
  margin-bottom: 1.5em;
  margin: 0 1.5em 1.5em 1.5em;
  width: 26.5em;
  height: 1.8em;
  background-color: rgb(243, 241, 241);
  border: none;
  color: rgb(74, 59, 172);
  &:focus {
    color: rgb(74, 59, 172);
  }
}

.signup-form-button {
  margin: 1.5em 1.3em 3.2em 1.3em;
  height: 2em;
  font-size: 1em;
  background-color: rgb(124, 111, 206);
  border: none;
  color: $font-color;
  &:hover {
    background-color: rgb(160, 153, 216);
  }
  &:focus {
    background-color: white;
    color: rgb(74, 59, 172);
  }
}

.signup-second-message {
  margin-top: 2em;
  font-size: 1.3em;
  color: $font-color;
  text-align: center;
}

.signin-link-button {
  display: block;
  width: 6em;
  font-size: 1em;
  background-color: rgb(124, 111, 206);
  color: $font-color;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  padding: 0.3em 0.7em;
  &:hover {
    background-color: rgb(160, 153, 216);
  }
  &:focus {
    background-color: white;
    color: rgb(74, 59, 172);
  }
}



/* signin */

.signin-inner {
  max-width: 1170px;
  margin: 0 auto;
}

.signin-first-message {
  font-size: 1.5em;
  color: $font-color;
  text-align: center;
}

.signin-form {
  display: flex;
  flex-direction: column;
  width: 25em;
  margin-top: 3em;
  background-color: rgb(100, 100, 200);
  margin: 0 auto;
}

.signin-form-title {
  font-size: 2.5em;
  text-align: center; 
  color: $font-color; 
  margin-top: 0.7em;
}

.session {
  display: flex;
  flex-direction: column;
}

.signin-form-label {
  margin-left: 1.5em;
  color: $font-color;
}

.signin-input-box {
  margin-left: 1.5em;
  margin-bottom: 1.5em;
  margin: 0 1.5em 1.5em 1.5em;
  width: 26.5em;
  height: 1.8em;
  background-color: rgb(243, 241, 241);
  border: none;
  color: rgb(74, 59, 172);
  &:focus {
    color: rgb(74, 59, 172);
  }
}

.signin-form-button {
  margin: 1.5em 1.3em 3.2em 1.3em;
  height: 2em;
  font-size: 1em;
  background-color: rgb(124, 111, 206);
  border: none;
  color: $font-color;
  &:hover {
    background-color: rgb(160, 153, 216);
  }
  &:focus {
    background-color: white;
    color: rgb(74, 59, 172);
  }
}

.signin-second-message {
  margin-top: 2em;
  font-size: 1.3em;
  color: $font-color;
  text-align: center;
}

.signup-link-button {
  display: block;
  width: 6em;
  font-size: 1em;
  background-color: rgb(124, 111, 206);
  color: $font-color;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  padding: 0.3em 0.7em;
  &:hover {
    background-color: rgb(160, 153, 216);
  }
  &:focus {
    background-color: white;
    color: rgb(74, 59, 172);
  }
}

.session-error-message {
  color: $font-color;
  margin: 2em 0 1em 1.5em;
}
