<header class="header">
  <div class="header-inner">
    <div class="header-container">
      <div class="header-logo">
        <p><%= link_to image_tag('header-logo-32px.png', alt: 'logo'), home_path %></p>
        <p><%= link_to 'Book-Manager', home_path, class: 'header-logo-title' %></p>
      </div>
      <div class="nav-group">
        <p><%= link_to 'Profile',  '#', class: 'nav-item' %></p>
        <p><%= link_to 'Sign out', signout_path, method: :delete, class: 'nav-item' %></p>
      </div>
    </div>
  </div>
</header>